<%@page import="java.util.ArrayList"%>
<%@page import="springnews.model.LoginBean"%>
<%@page import="springnews.model.*"%>
<%@page contentType="text/html" pageEncoding="UTF-8"%>
<% String username = (String)session.getAttribute("username");%>
<% LoginBean login = (LoginBean)session.getAttribute("login");%>
<!DOCTYPE html>
<html>
    <head>
        <% ArrayList<News> mainnews = (ArrayList)request.getAttribute("mainnews"); %>
        <% ArrayList<Comment> commentC1 = (ArrayList)request.getAttribute("commentC1"); %>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>JSP Page</title>
    <style type="text/css">
    body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #999;
}
    </style>
    </head>
    <body>
        <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="1229" bgcolor="#FFCC00"><img src="imagespring/banner1.jpg" width="1000" height="131"></td>
          </tr>
          <tr>
            <td bgcolor="#FFCC00"><table width="980" border="0" cellspacing="2" cellpadding="2">
              <tr>
                <td width="71">&nbsp;</td>
                <td width="144"><img src="imagespring/welcome.jpg" width="129" height="26"></td>
                <td width="605"><%= username %></td>
                <td width="103"><form action="removeservlet" method="POST">
                        <input type="submit" value="ออกจากระบบ" />
                    </form></td>
                <td width="25">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
 

          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          
          
          <tr>
            <td align="center" bgcolor="#FFFFFF"><table width="961" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="961" bgcolor="#FFCC00"><table width="950" border="0" cellspacing="2" cellpadding="2">
                  <tr>
                    <td width="68"><img src="imagespring/newssmall.jpg"></td>
                    <td width="20"><b><font color="black">77777<font></b></td>
                    <td width="585"><b><% out.print(  mainnews.get(i).getTitle()); %></b>
                      [<% out.print(News.changeTYPE_News(mainnews.get(i).getTypenumber())); %>]</td>
                    <td width = "81"><img src="imagespring/rundownsmall.jpg"><td>
                    <td width="158"><font size="2"><% out.print(mainnews.get(i).getRdtitle()); %></font></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td bgcolor="#666666"><table width="954" border="0" cellspacing="2" cellpadding="2">
                  <tr>
                    <td>&nbsp;</td>
                    <td>Reporter </td>
                    <td><font color="#FFFFFF"><% out.print(mainnews.get(i).getReportername()); %></font></td>
                    <td>&nbsp;</td>
                    <td><font color="#FFFFFF">date:<% out.print(mainnews.get(i).getRddate()); %></font></td>
                    <td><font color="#FFFFFF">status:<% out.print(News.changeStatusNews(mainnews.get(i).getStatus())); %></font> </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>Editor :</td>
                    <td><font color="#FFFFFF">status:[name reporter]</font></td>
                    <td>&nbsp;</td>
                    <td colspan="2"><form id="form1" name="form1" method="post" action="AddComment">
                      <label for="cccc"></label>
                      <input name="comm1" type="text" id="comm1" size="80" />
                    </td>
                  </tr>
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td width="63">:</td>
                    <td width="150">ปรับแก้[Statussss]</td>
                    <td width="68">&nbsp;</td>
                    <td width="304">ADD COMMENT </td>
                    <td><input type="hidden" name="username" id="username" value="<%= login.getUsername()%>" />
                        <input type="hidden" name="newsid" value="<%= mainnews.get(i).getNewsid()%>" />
                    <td width="311"><input type="submit" value="Add Comment" /> <input type="reset" value="cancel" /></td>
                    </form>
                  </tr>
                </table></td>
              </tr>
              

              
              <tr>
                <td bgcolor="#FFFFFF"><table width="800" border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="right" bgcolor="#CCCCCC"><table width="844" border="0" cellspacing="2" cellpadding="2">
                      <tr>
                        <td width="27">&nbsp;</td>
                        <td width="77">COMMENT</td>
                        <td width="157"><% out.print(commentC1.get(cx).getMemberid()); %></td>
                        <td width="505"><% out.print(commentC1.get(cx).getComment1()); %></td>
                        <td width="46">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table></td>
          </tr>

           
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
        </table>
        <h1>Hello World!ระบบติดตามข่าว Spring News Reporter</h1><br>
        <h4>&nbsp;</h4>
        <h4>&nbsp;</h4>
        <p><br>
        ----------------------------------------------------</p>
        <table width="715" border="1" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="6" bgcolor="#FFCCCC">ตารางแม่มไม่สวย ลองทดสอบหน่อยซิ</td>
          </tr>
          <tr>
            <td width="35" bgcolor="#FFCCCC">No.</td>
            <td width="210" bgcolor="#FFCCCC">หัวข้อข่าว</td>
            <td width="151" bgcolor="#FFCCCC">ประเภท</td>
            <td width="151" bgcolor="#FFCCCC">ผู้สื่อข่าว</td>
            <td width="40" bgcolor="#FFCCCC">&nbsp;</td>
            <td width="114" bgcolor="#FFCCCC">&nbsp;</td>
          </tr>
          <tr>
            <td>1</td>
            <td>ผลคดีคนหาย</td>
            <td>ข่าวอาชญากรรม</td>
            <td>พิชาญพงษ์ วงศ์ศรีแก้ว</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#CCCCCC">2</td>
            <td bgcolor="#CCCCCC">เบาะแสใหม่ชองขวนการค้ายา</td>
            <td bgcolor="#CCCCCC">ข่าวอาชญากรรม</td>
            <td bgcolor="#CCCCCC">พิชาญพงษ์ วงศ์ศรีแก้ว</td>
            <td bgcolor="#CCCCCC">&nbsp;</td>
            <td bgcolor="#CCCCCC">&nbsp;</td>
          </tr>
          <tr>
            <td>3</td>
            <td>จับแรงงานเถื่อน</td>
            <td>ข่าวอาชญากรรม</td>
            <td>พิชาญพงษ์ วงศ์ศรีแก้ว</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#CCCCCC">4</td>
            <td bgcolor="#CCCCCC">&nbsp;</td>
            <td bgcolor="#CCCCCC">&nbsp;</td>
            <td bgcolor="#CCCCCC">&nbsp;</td>
            <td bgcolor="#CCCCCC">&nbsp;</td>
            <td bgcolor="#CCCCCC">&nbsp;</td>
          </tr>
          <tr>
            <td>5</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
        <p><br>
        </p>
         <a href="addnews.jsp">Insert new Rundown</a><br>
    </body>
</html>
