<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>springnews.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmployeeServlet</servlet-name>
        <servlet-class>springnews.controller.ListEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmployeeServlet</servlet-name>
        <servlet-class>springnews.controller.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>springnews.controller.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNewsServlet</servlet-name>
        <servlet-class>springnews.controller.ListNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNews</servlet-name>
        <servlet-class>springnews.controller.AddNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporterServlet</servlet-name>
        <servlet-class>springnews.controller.ReporterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>McrServlet</servlet-name>
        <servlet-class>springnews.controller.McrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNewsStatusServlet</servlet-name>
        <servlet-class>springnews.controller.EditNewsStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>springnews.controller.RemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmployeePageServlet</servlet-name>
        <servlet-class>springnews.controller.ListEmployeePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAdminListNews</servlet-name>
        <servlet-class>springnews.controller.ReportAdminListNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <servlet-class>springnews.controller.AddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>No_Login_Servlet</servlet-name>
        <servlet-class>springnews.controller.No_Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet2</servlet-name>
        <servlet-class>springnews.controller.RemoveServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <servlet-class>springnews.controller.DeleteNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment_MCR_Servlet</servlet-name>
        <servlet-class>springnews.controller.AddComment_MCR_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_EMP_Servlet</servlet-name>
        <servlet-class>springnews.controller.Edit_EMP_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmpServlet</servlet-name>
        <servlet-class>springnews.controller.EditEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_copyyy</servlet-name>
        <servlet-class>springnews.controller.Edit_copyyy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditActiveEmployeeServlet</servlet-name>
        <servlet-class>springnews.controller.EditActiveEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSearchServlet</servlet-name>
        <servlet-class>springnews.controller.NewSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTESYTEST</servlet-name>
        <servlet-class>springnews.controller.ServletTESYTEST</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmployeeServlet</servlet-name>
        <url-pattern>/ListEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmployeeServlet</servlet-name>
        <url-pattern>/addEmployeeServlet</url-pattern>
        <url-pattern>/addemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/DeleteEmployeeServlet</url-pattern>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNewsServlet</servlet-name>
        <url-pattern>/ListNewsServlet</url-pattern>
        <url-pattern>/listnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNews</servlet-name>
        <url-pattern>/AddNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporterServlet</servlet-name>
        <url-pattern>/ReporterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>McrServlet</servlet-name>
        <url-pattern>/McrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNewsStatusServlet</servlet-name>
        <url-pattern>/EditNewsStatusServlet</url-pattern>
        <url-pattern>/editnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/RemoveServlet</url-pattern>
        <url-pattern>/removeservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmployeePageServlet</servlet-name>
        <url-pattern>/ListEmployeePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAdminListNews</servlet-name>
        <url-pattern>/ReportAdminListNews</url-pattern>
        <url-pattern>/reporter1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/AddCommentServlet</url-pattern>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>No_Login_Servlet</servlet-name>
        <url-pattern>/No_Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet2</servlet-name>
        <url-pattern>/RemoveServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <url-pattern>/DeleteNewsServlet</url-pattern>
        <url-pattern>/deletenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment_MCR_Servlet</servlet-name>
        <url-pattern>/AddComment_MCR_Servlet</url-pattern>
        <url-pattern>/mcrcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_EMP_Servlet</servlet-name>
        <url-pattern>/editemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmpServlet</servlet-name>
        <url-pattern>/editemp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_copyyy</servlet-name>
        <url-pattern>/editreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditActiveEmployeeServlet</servlet-name>
        <url-pattern>/active</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTESYTEST</servlet-name>
        <url-pattern>/search2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
